.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
    margin-right: 0;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition: fill var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.clients__icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill var(--transition-dur-and-func);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: rgba(33, 150, 243, 1);
  }
}
