.example-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .example-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
  }
}

.portfolio-box {
  position: relative;
}

.example-list__link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) {
  .example-list__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card-description__title {
  margin-bottom: 4px;
  color: var(--secondary-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-description__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: var(--mail-color-text);
}

.card-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;
}

.ovearly-box {
  position: relative;
  overflow: hidden;
}

.ovearlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-color-darck-fon);
  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);

  .example-list__link:hover &,
  .example-list__link:focus & {
    transform: translateY(0);
  }
}
