.subscription {
  width: 100%;
}
@media screen and(min-width:1200px) {
  .subscription {
    display: inline-flex;
  }
}
.subscription__mail {
  display: block;
  background-color: #2f303a;
  margin-right: 12px;
  margin-bottom: 20px;
  padding-left: 12px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .subscription__mail {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__mail {
    display: inline-flex;
    width: 358px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
}
.footer__title {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    display: flex;
  }
}
.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color-bg);
  color: var(--main-color-darck-fon);
  // align-items: center;
  // justify-content: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: var(--accent-color-bg);
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border-radius var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) 4px;
  }
  &::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../images/svg/icon-send.svg);
  }
}
