a {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.title {
  color: var(--secondary-color-text);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.no-scroll {
  overflow: hidden;
}
// .container {
//   padding-left: 15px;
//   padding-right: 15px;
// }
// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
// @media screen and (min-width: 768px) {
//   .container {
//     width: 768px;
//   }
// }
// @media screen and (min-width: 1200px) {
//   .container {
//     width: 1200px;
//   }
// }
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section.we-do {
  padding-top: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.cards,
.team-title,
.products__item {
  position: relative;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
