.contacts__list {
  display: none;
  margin-left: auto;
  transition: color var(--transition-dur-and-func);
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  color: var(--mail-color-text);
  font-weight: 500;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    font-size: 14px;
    line-height: 1.33;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.contacts__icon {
  fill: var(--mail-color-text);
  margin-right: 10px;
  transition: fill var(--transition-dur-and-func);
  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: var(--accent-color);
  }
}
