.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
}
.logo__text {
  color: var(--accent-color);
}
