.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000000;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__text {
  color: var(--accent-color);
}
