.products__list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .products {
    display: none;
    margin: 0;
  }
}

.products__item {
  flex-basis: calc((100% - 60px) / 3);
  &:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

.cards__title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-darck-fon);
  background-color: rgba(47, 48, 58, 0.8);
}
